<h2>Atualizar Produto</h2>
<br />
<form action='/editarProduto' method='post'>
  <label for='id'>Id do Produto:</label><br />
  <input type='text' name='id' placeholder='Id' /><br />
  <label for='nome'>Nome do Produto:</label><br />
  <input type='text' name='nome' placeholder='Nome' /><br />
  <label for='marca'>Marca do Produto:</label><br />
  <input type='text' name='marca' placeholder='Marca' /><br />
  <label for='tamanho'>Tamanho do Produto:</label><br />
  <input type='number' name='tamanho' placeholder='Tamanho' /><br />
  <label for='quantidadeEstoque'>Quantidade do Produto:</label><br />
  <input type='number' name='quantidade' placeholder='Quantidade' /><br />
  <label for='preco'>Preço do Produto:</label><br />
  <input type='mumber' name='preco' placeholder='Preco' /><br />
  <br />
  <button id='botao-editar' type='submit'>Enviar</button>
</form>
{{#if msg}}
  <p>{{msg}}</p>
{{/if}}
{{#if msgB}}
  <p>{{msgB}}</p>
{{/if}}