<div class='tela'>
  <link rel='stylesheet' href='/css/cadastro.css' />
  <div class='pagina-cadastro'>
    <h1>Cadastro de Usuário</h1>
    <br />
    <div class='desc back'>
      <form action='/cadastro' method='post'>
        <label for='usuario'>Digite seu Nome</label><br />
        <input type='text' name='usuario' /><br />
        <label for='email'>Digite seu email</label><br />
        <input type='text' name='email' /><br />
        <label for='telefone'>Digite seu Telefone</label><br />
        <input type='text' name='telefone' /><br />
        <label for='cpf'>Digite seu cpf</label><br />
        <input type='text' name='cpf' /><br />
        <label for='senha'>Digite sua Senha</label><br />
        <input type='password' name='senha' /><br /><br />
        <button class='botao-cadastro' type='submit'>Cadastrar</button>
        <br />
      </form>
    </div>
    {{#if msg}}
      <p>{{msg}}</p>
    {{/if}}
  </div>
</div>