<script src="/js/carrinho.js" defer></script>
<div class="tela">

<h1>Carrinho de Compras</h1>
<ul id="itens-carrinho">
           
</ul>
<p>
&nbsp;&nbsp;&nbsp;Quantidade: <span id="qtde-total">0</span>
&nbsp;&nbsp;&nbsp;Total: R$ <span id="total-carrinho">0.0</span>
</p>
<br>
<button id="limpar-carrinho">Limpar Carrinho</button>
<br>
<button id="botao-comprar">Comprar</button>
<br>
<p id="mensagem-compra"></p>
</div>
    