<div class="tela">
<h1>Sistema Gerenciador:</h1>
<br>
<div class="crud">
    <h2>Produtos</h2>
    <br>
    <div class="crud">
        <button><a href="/cadastrarProduto">Cadastro dos Produtos</a></button>
        <br><br>
        <button><a href="/listarProduto">Lista dos Produtos</a></button>
        <br><br>
        <button><a href="/editarProduto">Edição dos Produtos</a></button>
        <br><br>
        <button><a href="/apagarProduto">Exclusão dos Produtos</a></button>
        <br><br>
    </div>
    <h2>Clientes:</h2>
    <div class="crud">
        <button><a href="/listarCliente">Lista de Clientes</a></button>
        <br><br>
    </div>
</div>
<div></div>
</div>