<html lang='pt-BR'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='./css/home.css' />
    <script src='../index.js' defer></script>
    <title>Snkr Head | Home</title>
  </head>

  <body>

    <div class='flex-container'>
      <div class='column'>
        <a href='/produtos'><img class='prmocional' src='./img/promocional/promocional01.png' /></a>
      </div>
      <div class='text-column'>
        <p>Bem-vindo à nossa loja online, o destino definitivo para entusiastas do basquete e amantes do estilo streetwear! Aqui, mergulhe em um universo de tênis cuidadosamente selecionados, projetados para elevar seu jogo nas quadras e seu estilo nas ruas. Navegue por nossa coleção exclusiva, que combina tecnologia de ponta com designs modernos, proporcionando o equilíbrio perfeito entre desempenho e moda.</p>
      </div>
    </div>

    <div class='flex-container-2'>
      <div class='column'>
        <img class='prmocional' src='./img/promocional/promocional04.png' />
      </div>
      <div class='text-column-2'>
        <p>Na nossa loja, não apenas oferecemos os mais recentes lançamentos das principais marcas de basquete, mas também garantimos que cada par seja uma expressão autêntica do seu estilo único. Descubra a fusão impecável entre o espírito esportivo e a estética urbana enquanto você se destaca, seja nas quadras de basquete ou nas ruas da cidade. Sinta a diferença, escolha o estilo e faça uma declaração com os tênis que transcendem fronteiras.</p>
      </div>
    </div>

  </body>
</html>