<h1>Login</h1>
<br>
<form action="/login" method="post">
    <label for="email">Digite seu Email</label><br>
    <input type="text" name="email"><br>
    <label for="senha">Digite sua Senha</label><br>
    <input type="text" name="senha"><br><br>
    <button type="submit">Enviar</button>
</form>