.tela {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

button {
  background-color: #FF730E;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  border: black solid;
}