*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslategray
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 154, 154);
    

}
.menu-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

}

.menu-itens li{
  margin-right: 40px;
}

.menu-itens a{
    text-decoration: none;
    color: rgb(233, 233, 240);
    font-size: 1.2rem;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.menu-itens a:hover{
    font-size: 1.3rem;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}

.icone{
    transform: scale(0.8);
    margin-left: 10px;
}

.conteudo{
    color: rgb(233, 233, 240);
    text-align: center;
    font-size: large;
}

.rodape{
    background-color: rgb(160, 154, 154);
    color:rgb(233, 233, 240);
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copy{
    background-color:rgb(160, 154, 154) ;
    text-align: center;
    font-size: small;
    
}
